<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>BestRecipes</string>
    <key>CFBundleIdentifier</key>
    <string>ru.eliseev.dmitry.BestRecipes</string>
    <key>CFBundleVersion</key>
    <string>1.0.0</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>UIAppFonts</key>
    <array>
        <string>Poppins-Black.ttf</string>
        <string>Poppins-Bold.ttf</string>
        <string>Poppins-ExtraBold.ttf</string>
        <string>Poppins-Light.ttf</string>
        <string>Poppins-Medium.ttf</string>
        <string>Poppins-Regular.ttf</string>
        <string>Poppins-SemiBold.ttf</string>
    </array>
</dict>
</plist>
